.Header {
    padding: 20px;
    background-color: hsl(0,0%,98%);
    box-shadow: inset 0px 1px 2px 1px hsla(0,0%,100%,1), 0px 2px 5px hsla(0,0%,0%,.1);
}

.Header-title {
    text-align: center;
    font-size: 1.6em;
}