.Main {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: flex;
    height: 100%;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: #222;
    background-color: hsl(0, 0%, 90%);
}