.Main {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    background-color: hsl(0, 0%, 90%);    
}